.intro {
  background-color: #236ab9;
  color: #091d34;
  font-size: large;
  font-weight: bold;
  text-align: center;
}

.img1 {
  border-radius: 50%;
  width: fit-content;
}

.aside {
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  color: black;
  background-color: #3a4856;
  margin-right: 90%;
}

h2 {
  text-decoration: underline;
}
